/* body {
    background-image: url('images/blog_background.png');
    
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 

} */

.home-info{
    width: 50%; /* Set the width to 50% of the parent container */
    margin: 0 auto; /* Center the div horizontally */
    padding-left: 25%; /* Set 25% padding on the left side */
    padding-right: 25%; /* Set 25% padding on the right side */
    display: block;
    
}

.nopalito-div{
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  .logo{
      display: block;
      width: 35%;
      margin-left: auto;
      margin-right: auto;
  }
  

  @media (max-width: 600px) {
    body {
        background-image: url('images/mobile_backgroud.png');
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        
    }


  }



