/* homepage-style.css */

/* Styling for the entire body of the homepage */
body {
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    margin: 50px;
}

/* Styling for the main heading (h1) */
h1 {
    color: #333;
    margin-bottom: 30px;
}

/* Styling for buttons */
button {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #F2CD5D;
    color: #333;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    width: 20%;
}


/* Styling for the button on hover */
button:hover {
    background-color: #DEA54B;
}
