<!DOCTYPE html>
<head>
    <title>Booking Confirmation</title>
    <link rel="stylesheet" href="{{url_for('static', filename='booking.css')}}">
</head>
<body>
    <div class = 'a'>
        <!-- button for home page -->
        <div class = 'buttond'>
            <button class = 'button font_logo ' ><a href="{{ url_for('index') }}"> HOME </a></button>
        </div>
        <!-- button for menu page -->
       <div class = 'buttona'>
            <button class = 'button font_logo ' ><a href="{{ url_for('menu') }}"> MENU </a></button>
       </div>
       <!-- button for contact page -->
       <div class = buttonc>
            <button class = 'button font_logo'> <a href="{{ url_for('contact') }}"> CONTACT </a> </button>
       </div>
       <div class = buttone>
        <button class = 'button font_logo'> <a href="{{ url_for('booking') }}"> BOOK </a> </button>
      </div>
       
    </div>
    <link rel="stylesheet"type='text/css' href="{{url_for('static', filename='index.css')}}">
    <h1>Booking Confirmation</h1>
    <p>Thank you for your booking. Here are your booking details:</p>
    <ul>
        <li>Booking ID: {{ booking.id }}</li>
        <li>First Name: {{ booking.fname }}</li>
        <li>Last Name: {{ booking.lname }}</li>
        <li>Phone Number: {{ booking.phone }}</li>
        <li>Email: {{ booking.email }}</li>
        <li>Number of Guests: {{ booking.guests }}</li>
        <li>Booking Time: {{ booking.booking_time }}</li>
        <li>Date: {{ booking.date }}</li>
        <li>Table Number: {{ booking.table_number }}</li>
        <li>Special Requests: {{ booking.requests }}</li>
    </ul>
</body>